.card-img-top {
  object-fit: cover;
  height: 300px;
}

.secondrow .profile {
  width: 300px;
  clip-path: circle();
  margin-top: -110px;
  margin-left: -30px;
}

.profile_search {
  flex-direction: row;
  border: none;
  border-radius: 30px;
  background-color: #e0dcdc;

  height: 50px;
  width: 350px;
  align-items: center;
  padding: 0 15px;
}

.profile_search .content {
  padding-top: 11px;
}

.profile_search input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gray;
  background: transparent;
  width: 70%;
  height: 25px;
  margin-left: 20px;
}

.profile_search input:focus {
  outline: none;
}

@media (max-width: 575px) {
  .secondrow .profile {
    /* margin-left: 80px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .secondrow .consultent_details {
    text-align: center;
  }

  .thirdrow {
    text-align: center;
  }

  .thirdrow span {
    justify-content: center;
    margin-left: -35px;
  }

  .thirdrow .price,
  .request {
    margin-left: 25px;
  }
}

.thirdrow button {
  background-color: #282c44;
  color: white;
  height: 40px;
  font-weight: 700;
  width: 120px;
}

.thirdrow button:hover {
  background-color: #282c44;
  color: white;
  opacity: 0.9;
}

.experince {
  width: 100%;

  background-color: #e2e3ea;
  border-radius: 20px;
  padding: 25px;
}

.experince hr {
  margin-left: 7px;
}

.experince .showall:hover {
  cursor: pointer;
}
